.page-main {
	padding-bottom: 85px;

	.main__header {
		position: relative;
		height: 750px;
		background-image: url(../images/index/man.jpg);
		background-size: 100% auto;
		background-position: center bottom;

		.header__left {
			position: absolute;
			left: 30px;
			top: 170px;
			width: 200px;
			text-align: center;

			.left__logo {
				height: 120px;
				background-image: url(../images/eco-logo.png);
				background-size: auto 100%;
				background-position: center center;
				background-repeat: no-repeat;
			}

			.left__content {
				margin-top: 30px;

				.left__glass {
					display: inline-block;
					vertical-align: middle;
					width: 23px;
					height: 23px;
					background-image: url(../images/index/glass.png);
					background-size: contain;
					background-position: center center;
					background-repeat: no-repeat;
				}

				.left__title {
					font-family: 'osnova_pro';
					font-size: 12px;
					text-transform: uppercase;
					margin-top: 15px;
				}

				.left__count {
					position: relative;
					margin-top: 12px;
					width: 200px;
					left: 50%;
					margin-left: -100px;

					span {
						display: inline-block;
						width: 20px;
						height: 30px;
						line-height: 30px;
						text-align: center;
						text-shadow: 0px 2px 0px rgba(255, 255, 255, 1);
						background-image: url(../images/index/number-wrap.png);
						background-size: 100% auto;
						background-position: center center;
						background-repeat: no-repeat;
						margin: 1px;
						font-weight: 500;
					}
				}

				.left__litters {
					position: relative;
					margin-top: 5px;
					font-family: 'osnova_pro';
					font-size: 10px;
					font-weight: 700;
					text-transform: uppercase;
					letter-spacing: 15px;
					margin-left: 1.5em;
				}
			}

			.left__adult {
				height: 20px;
				background-image: url(../images/index/adult.png);
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
				margin-top: 30px;
			}
		}

		.header__right {
			position: absolute;
			right: 80px;
			top: 170px;
			width: 115px;
			text-align: center;

			.right__text {
				position: relative;
				left: 50%;
				margin-left: -56px;
				width: 112px;

				.text__line {
					img {
						max-width: 100%;
					}
				}

				.text__xs {
					font-family: 'osnova_pro';
					font-size: 8px;
					text-transform: uppercase;
					letter-spacing: 4px;
				}

				.text__md {
					font-family: 'osnova_pro';
					font-size: 11px;
					text-transform: uppercase;
					letter-spacing: 4px;
					margin-top: 3px;
				}

				.text__xl {
					text-shadow: 0 2px 0 #f8f8f8, 0 4px 0 #fecd2d;
					text-transform: uppercase;
					font-weight: 500;
					font-size: 37px;

					&:last-child {
						margin-top: -5px;
						margin-right: -10px;
						letter-spacing: 7px;
					}
				}
			}

			.right__gift {
				position: relative;
				height: 120px;
				margin-top: 20px;

				.us-arrow {
					display: inline-block;
					position: absolute;
					width: 13px;
					height: 30px;
					top: 50%;
					margin-top: -15px;
					background-size: 60% auto;

					&.arrow-left {
						left: -25px;
					}

					&.arrow-right {
						right: -25px;
					}
				}

				.gift__list {
					.list__item {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						opacity: 0;

						&.active {
							opacity: 1;
						}

						img {
							max-width: 100%;
							max-height: 100%;
						}
					}
				}
			}
		}

		.header__content {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 30px;
			text-align: center;

			.content__title {
				display: inline-block;
				vertical-align: middle;
				font-size: 0px;
				width: 500px;
				height: 65px;
				background-image: url(../images/index/title.png);
				background-size: 100% auto;
				background-position: center center;
				background-repeat: no-repeat;
			}

			.content__desc {
				text-transform: uppercase;
				line-height: 1.45;
				letter-spacing: 1.7px;
				margin-top: 45px;
			}
		}
	}

	.main__steps {
		text-align: center;
		margin: 50px 0 0;

		.steps__arrow {
			display: inline-block;
			vertical-align: top;
			width: 100px;
			height: 10px;
			background-image: url('../images/index/step-arrow.png');
			background-size: 100% auto;
			background-position: center center;
			background-repeat: no-repeat;
			margin: 25px 20px 0;
		}

		.steps__item {
			display: inline-block;
			vertical-align: top;
			width: 60px;

			img {
				max-width: 100%;
			}

			.item__text {
				position: relative;
				width: 120px;
				left: 50%;
				margin-left: -60px;
				margin-top: 5px;
				text-transform: uppercase;
				font-size: 15px;
				font-weight: 200;
				letter-spacing: 1px;
			}
		}

		.steps__btn {
			margin-top: 40px;
		}
	}

	.main__slider {
		margin: 60px 0;

		.slider__block {
			position: relative;
			height: 200px;
			width: 535px;
			margin: 0 auto;
			//overflow: hidden;

			.us-arrow {
				position: absolute;
				width: 50px;
				height: 100%;
				background-size: 20% auto;
				top: 0;

				&.arrow-left {
					left: -50px;
				}

				&.arrow-right {
					right: -50px;
				}
			}

			.block__images {
				width: 20000em;

				.images__item {
					display: inline-block;
					vertical-align: top;
					width: (535/6)+px;
					height: (200/2)+px;
					background-size: cover;
					background-position: center center;
				}
			}
		}
	}
}