doctype html
- var title = 'Beard'

block vars 
    
html.no-js(lang="")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
    title #{title}
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css styles/main.css
    link(rel="stylesheet", href="styles/main.css")
    // endbuild
    // build:js scripts/vendor/modernizr.js
    // endbuild
  body
    
    .main-wrapper
        a(href="#").main-logo
        .socials
            a(href="#").icon-fb 
                span fb.com/suninbev
            a(href="#").icon-su 
                span suninbev.ru
            a(href="#").icon-in 
                span ecoboroda
        block content
        .wrapper-border-sides
        .wrapper-border

    // build:js scripts/vendor.js
    // bower:js
    // endbower
    // endbuild
    // build:js scripts/main.js
    script(src="scripts/main.js")
    // endbuild